/* Menu Styles */
nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

nav li:hover {
  text-decoration: underline;
}

nav li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #61dafb;
  border-radius: 5px;
}

nav ul ul li {
  padding: 10px;
  cursor: pointer;
  color: black;
}

nav ul ul li:hover {
  background-color: #21a1f1;
}